# ==========================================
# Python - cache soubory a kompilovaný kód
# ==========================================
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# ==========================================
# Virtuální prostředí (Zásadní věc!)
# ==========================================
venv/
env/
ENV/
.env
.venv

# ==========================================
# Distribuce, balíčkování a buildy
# ==========================================
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# ==========================================
# Testování a pokrytí kódu (Pytest, Coverage)
# ==========================================
.pytest_cache/
.coverage
htmlcov/
.pypy_cache/

# ==========================================
# Systémový balast (Windows / macOS)
# ==========================================
*.DS_Store
Thumbs.db
desktop.ini